/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body{
	width: 100%;
	text-align: center; 
	}

/* nav bar starts here*/
.Nav{
	display:flex;
	justify-content: space-evenly;
}
/* nav bar ends here */
/* header stuff here*/
.headerLeft{
	display: flex;
	flex-direction: column;
}
 header div{
	display: flex;
	

	}
	 header{
	text-align: left;
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 5%;
	padding-top: 5%;
	}	 
.headerRight img{
	display: flex;
	margin-left: -55%;
}

div h1{
	margin-bottom: 10%;
	text-align: center;
	font-size: 75px;
}

/* heading ends here */
/* top section info starts here */
.wholeTop{
	padding-top: 3%;
	padding-bottom: 5%;
	border-top: 1px solid black;
	display: flex;
}
/* top section info stops here */

/* bottom info section starts here */
.wholeBottom{
	/*border-top: black solid 1px; */
	display:flex;
	justify-content: center;
	width: 85%;
	margin: 0 8%;
	border-bottom: 1px solid black;
	padding-bottom: 3%;
}
/* bottom info section ends here */
/*middle image stuff starts here */
.middle-img {
	width: 80%;
	padding-bottom: 3%;
}
.Contact{
	text-align: left;
	padding-top: 3%;
	}
/*footer starts here*/
footer{
	text-align:center;
}
/*footer ends here*/

/*services.html starts here*/
body{
	display:flex;
	flex-direction: column;
}
ul {
	list-style: square;
	list-style-position: inside;
}
.servicesdiv{
	border: 1px solid purple;
	display: flex;
	flex-direction: column;
}

.headerPage2{
	display: flex;
	border: 1px solid blue;
	}
/* nav bar starts here */

.navPage2{
	
	border: 1px solid red;
}


/* this is where the body contents starts */
.bodyContentServices{
	/* border: solid black 1px; */
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-top: 2%;
	}
	.bodyContentServices img{
		margin: auto 0;

	}
.bodySection{
	width: 40%;
	border:1px solid black;
	}
























































































	